<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ventechsolutions.myFHB">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.ACTION_MANAGE_WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SET_ALARM" />
<!--    <uses-permission android:name="android.permission.READ_CONTACTS" />-->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.MICROPHONE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
<!--    <uses-feature android:name="android.hardware.audio.low_latency" />-->
<!--    <uses-feature android:name="android.hardware.audio.pro" />-->

    <!--Bluetooth permissions required for Android 12+-->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.microphone"/>
    <uses-feature android:name="android.hardware.bluetooth" android:required="true"/>

    <queries><intent><action android:name="android.speech.RecognitionService" /></intent></queries>

    <uses-permission android:name="com.google.android.gms.permission.AD_ID" tools:node="remove"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:name="com.ventechsolutions.myFHB.MyApp"
        android:label="QurHome"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="false"
        android:fullBackupOnly="false"
        android:hardwareAccelerated="true"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <service android:exported="false" android:name="com.gsh.api.BLEManager" />
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data android:name="com.facebook.sdk.ClientToken" android:value="@string/facebook_client_token"/>
        <meta-data android:name="com.facebook.sdk.AutoLogAppEventsEnabled" android:value="true"/>
        <meta-data android:name="com.google.firebase.messaging.default_notification_icon" android:resource="@mipmap/ic_launcher" />

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="FLUTTER_NOTIFICATION_CLICK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="qurbook-install.onelink.me"
                    android:pathPrefix="/77HX"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="devqurbook.page.link"
                    android:scheme="mobileapp" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with YOUR_SCHEME://YOUR_HOST -->
                <data
                    android:host="devqurbook.page.link"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".NotificationActivity"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            android:exported="false"
            android:showOnLockScreen="true"
            android:theme="@style/FullScreenTheme" />

        <receiver android:exported="false" tools:node="merge" android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationReceiver" />
        <receiver android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationBootReceiver"
            android:exported="false"
            tools:node="merge" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".SMSBroadcastReceiver"
            android:permission="com.google.android.gms.auth.api.phone.permission.SEND"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.appsflyer.SingleInstallBroadcastReceiver"
            tools:node="merge"
            android:exported="false">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <receiver android:exported="false" android:name=".services.AcceptTransportationAppointment" />
        <receiver android:exported="false" android:name=".services.RejectTransportationAppointment" />
        <receiver android:exported="false" android:name=".services.DeclineReciver" />
        <receiver android:exported="false" android:name=".services.AcceptReceiver" />
        <receiver android:exported="false" android:name=".services.CancelAppointment" />
        <receiver android:exported="false" android:name=".services.RescheduleAppointment" />
        <receiver android:exported="false" android:name=".services.OnTapNotification" />
        <receiver android:exported="false" android:name=".services.ChatwithCC" />
        <receiver android:exported="false" android:name=".services.OnTapNotificationBackground" />
        <receiver android:exported="false" android:name=".services.Accept" />
        <receiver android:exported="false" android:name=".services.EscalateCareGiver" />
        <receiver android:exported="false" android:name=".services.AppointmentPaymentNotification" />
        <receiver android:exported="false" android:name=".services.PlanPaymentNotification" />
        <receiver android:exported="false" android:name=".services.FamilyAdditionNotification" />
        <receiver android:exported="false" android:name=".services.ReferrelPatientAccept" />

                <receiver android:exported="false" android:name=".services.PartnerServiceTicket" />
        <receiver android:exported="false" android:name="androidx.media.session.MediaButtonReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <receiver android:exported="false" android:name=".services.SheelaFollowReceiver" />

        <receiver android:exported="false" android:name=".services.Renew" />
        <receiver android:exported="false" android:name=".services.Callback" />
        <receiver android:exported="false" android:name=".services.Decline" />
        <receiver android:exported="false" android:name=".services.AcceptCareGiver" />
        <receiver android:exported="false" android:name=".services.RejectCareGiver" />

        <service android:exported="false" android:name=".services.AVServices" />

        <service android:exported="false" android:name=".services.CriticalAlertServices" />

        <receiver android:exported="false" android:name=".services.DismissReceiver" />
        <receiver  android:exported="false" android:name=".services.NoReceiver" />
        <receiver android:exported="false" android:name=".services.SnoozeReceiver" />
        <receiver android:exported="false" android:name=".services.ViewMemberReceiver" />
        <receiver android:exported="false" android:name=".services.CommunicationSettingReceiver" />
        <receiver
            android:exported="false"
        android:name=".services.ReminderBroadcaster"
        android:process=":remote" />

        <receiver
            android:exported="false"
            android:name=".services.ScheduleAppointment"
            android:process=":remote" />

        <service
            android:name=".services.MyFirebaseInstanceService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <!--<action android:name="com.google.firebase.INSTANCE_ID_EVENT" />-->
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->

        <meta-data
            android:name="io.flutter.app.android.SplashScreenUntilFirstFrame"
            android:value="true" />

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCQ26mjgJ8T00uCWigel-zWQKU6fkhsGX4" />

        <service
            android:exported="false"
            android:name="com.dooboolab.TauEngine.FlautoBackgroundAudioService" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
                <action android:name="android.media.browse.FlautoMediaBrowserService" />
            </intent-filter>
        </service>


        <provider
            android:name="vn.hunghd.flutterdownloader.DownloadedFileProvider"
            android:authorities="${applicationId}.flutter_downloader.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />

            <meta-data
                android:name="vn.hunghd.flutterdownloader.MAX_CONCURRENT_TASKS"
                android:value="5" />
        </provider>

<!--        <provider-->
<!--            android:name="androidx.work.impl.WorkManagerInitializer"-->
<!--            android:authorities="${applicationId}.workmanager-init"-->
<!--            android:exported="false"-->
<!--            tools:node="remove" />-->

<!--        <provider-->
<!--            android:name="vn.hunghd.flutterdownloader.FlutterDownloaderInitializer"-->
<!--            android:exported="false"-->
<!--            android:authorities="${applicationId}.flutter-downloader-init">-->
<!--            &lt;!&ndash; changes this number to configure the maximum number of concurrent tasks &ndash;&gt;-->
<!--            <meta-data-->
<!--                android:name="vn.hunghd.flutterdownloader.MAX_CONCURRENT_TASKS"-->
<!--                android:value="5" />-->
<!--        </provider>-->
    </application>
</manifest>
