<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>588661578434-fj6k7cs9hh78gqo3eakprmmo61tgsoti.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.588661578434-fj6k7cs9hh78gqo3eakprmmo61tgsoti</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>588661578434-f7jv3mlclgh7el6q0d48cdgo81erbi3e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA94AzMwGOVqspftaGHjtEEegzbrlxAaRY</string>
	<key>GCM_SENDER_ID</key>
	<string>588661578434</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trident.voipapp</string>
	<key>PROJECT_ID</key>
	<string>myfhbfitness</string>
	<key>STORAGE_BUCKET</key>
	<string>myfhbfitness.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:588661578434:ios:6ef14085acd0a1c998f95b</string>
	<key>DATABASE_URL</key>
	<string>https://myfhbfitness.firebaseio.com</string>
</dict>
</plist>