<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>588661578434-l1qvt7tl7de2hbqa5o8iqvak8tvmofkn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.588661578434-l1qvt7tl7de2hbqa5o8iqvak8tvmofkn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>588661578434-oplufmffn1s1v2an6bgbsupged6lh703.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA94AzMwGOVqspftaGHjtEEegzbrlxAaRY</string>
	<key>GCM_SENDER_ID</key>
	<string>588661578434</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ventechsolutions.myFHB</string>
	<key>PROJECT_ID</key>
	<string>myfhbfitness</string>
	<key>STORAGE_BUCKET</key>
	<string>myfhbfitness.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:588661578434:ios:517489e9957ed41898f95b</string>
	<key>DATABASE_URL</key>
	<string>https://myfhbfitness.firebaseio.com</string>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
</dict>
</plist>