<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>myfhb</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.588661578434-fj6k7cs9hh78gqo3eakprmmo61tgsoti</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>Application requires access to AppleMusic for setting up default tones for the set appointments &amp; reminders</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Application requires access to Calendar option for facilitating the user to pick date for setting up appointment &amp; reminders</string>
	<key>NSCameraUsageDescription</key>
	<string>Application requires access to Camera to take pictures of health records</string>
	<key>NSContactsUsageDescription</key>
	<string>Application requires access to Contacts for adding family members &amp; friends from contact list</string>
	<key>NSHealthShareUsageDescription</key>
	<string>Read heart rate monitor data.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Share workout data with other apps.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Application requires access to LocationWhenInUse for locating the address and adding a healthcare provider</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Application requires access to microphone to record the audio</string>
	<key>NSMotionUsageDescription</key>
	<string>Application requires access to MotionUsage to detect the Medical device reading captured using phone camera</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Application requires access to PhotoLibrary to capture picture of the physical medical records and devices</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Application requires access to Speech Recognition for activating built in Voice assistant to perform set workflows</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
</dict>
</plist>
